@import "./global";

.common {
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 20px 100px;
  @include dcsb;
  box-shadow: 0 0 10px $ShadowColor;
  z-index: 100;
  .logo {
    width: 15%;
    @include dcsb;
  }
  .nav_left_side {
    width: 55%;
    @include dcsb;
    .search_input {
      width: 85%;
      @include da;
      position: relative;
      .search_icon_nav {
        color: $TextColor;
        font-size: $LargeSize;
        position: absolute;
        left: 15px;
      }
      .search_input_text {
        width: 100%;
        font-weight: 400;
        font-size: $SmallSize;
        color: $TextColor;
        padding: 18px 50px;
        border-radius: $AllRadius;
        outline: none;
        background-color: $Fair;
        border: none;
      }
    }
    .filter_icon {
      i {
        font-size: $MediumSize;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        background-color: $TextColor;
        color: $Light;
        border: 1px solid $TextColor;
      }
    }
  }
  .nav_right_side {
    width: 25%;
    @include dcsb;
    border-left: 1px solid $ShadowColor;
    .location {
      @include da;
      margin-left: 30px;
      i {
        font-size: $MediumSize;
        color: $Silver;
      }
      small {
        font-weight: 500;
        font-size: $SmallSize;
        margin-left: 15px;
        color: $TextColor;
      }
    }
    .notification {
      i {
        font-size: $MediumSize;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
        color: $TextColor;
        border: 1px solid $Silver;
      }
    }
    .profil {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.focus_center {
  width: 100%;
  padding: 50px 100px;
  @include dfcj;
  .side_bar {
    width: 15%;
    @include dfds;
    overflow-x: hidden;
    .bar_links {
      width: 100%;
      @include da;
      margin-top: 20px;
      transition: $AllTransition;
      .bar_icon {
        font-size: $LargeSize;
        color: $TextColor;
        padding: 10px 20px;
        border-radius: 0 30px 30px 0;
        transition: $AllTransition;
      }
      .bar_link_text {
        font-weight: 500;
        font-size: $SmallSize;
        color: $TextColor;
        margin-left: 30px;
        transition: $AllTransition;
      }
      &:hover {
        .bar_icon {
          padding: 15px 30px;
          background-color: $Warning;
        }
      }
    }
  }
  .main_block {
    width: 55%;
    @include dfds;
    overflow-x: hidden;
    h1 {
      font-weight: 600;
      font-size: $HighSize;
      color: $TextColor;
      letter-spacing: 1px;
    }
    .slide_links {
      width: 50%;
      @include dcsb;
      margin-top: 20px;
      .slid_text {
        font-weight: 500;
        font-size: $SmallSize;
        color: $Silver;
        transition: $AllTransition;
        &:hover {
          color: $TextColor;
        }
      }
    }
    .slider_cards {
      width: 100%;
      margin-top: 30px;
      padding: 10px;
      .swiper-slide {
        width: 22%;
        @include dfds;
        background-color: $TextColor;
        cursor: pointer;
        border-radius: $AllRadius;
        padding: 10px;
        position: relative;
        img {
          width: 100%;
          height: 220px;
          border-radius: $AllRadius;
        }
        h4 {
          font-weight: 500;
          font-size: $MiddleSize;
          color: $Light;
          margin-top: 15px;
          letter-spacing: 1px;
        }
        .rank {
          @include da;
          span {
            @include da;
            margin-right: 30px;
            .slid_map {
              color: $Danger;
              font-size: $MiddleSize;
            }
            .slid_star {
              color: $Warning;
              font-size: $MiddleSize;
            }
            small {
              font-weight: 400;
              font-size: $SmallSize;
              margin-left: 10px;
              color: $Light;
              opacity: 0.8;
            }
          }
        }
        .slike_icon {
          position: absolute;
          top: 30px;
          right: 30px;
          padding: 10px;
          color: $Danger;
          border-radius: 50%;
          background-color: $TextColor;
          font-size: $MediumSize;
        }
      }
    }
    .date_bt {
      width: 100%;
      @include dcsb;
      margin-top: 50px;
      h2 {
        font-weight: 600;
        font-size: $LargeSizeX;
        color: $TextColor;
        letter-spacing: 1px;
      }
      .btn_date {
        font-weight: 500;
        font-size: $SmallSize;
        color: $TextColor;
        padding: 15px 30px;
        border: 1px solid $ShadowColor;
        border-radius: $AllRadius;
        background-color: transparent;
        box-shadow: 0 0 10px $ShadowColor;
        cursor: pointer;
      }
    }
    .week_days {
      width: 100%;
      @include dcsb;
      margin-top: 30px;
      .week_day_ones {
        @include dfdc;
        padding: 20px 18px;
        margin: 20px 20px 20px 0;
        border-radius: $AllRadius;
        border: 1px solid $ShadowColor;
        box-shadow: 0 0 10px $ShadowColor;
        background-color: transparent;
        cursor: pointer;
        transition: $AllTransition;
        .wday {
          font-weight: 400;
          font-size: $SmallSize;
          color: $Silver;
          opacity: 0.8;
          transition: $AllTransition;
        }
        .linedot {
          padding: 5px 2.5px;
          border-radius: $AllRadius;
          margin: 2.5px 0;
          transition: $AllTransition;
        }
        .nday {
          font-weight: 500;
          font-size: $MediumSize;
          color: $TextColor;
          transition: $AllTransition;
        }
        &:hover {
          background-color: $TextColor;
          .wday {
            color: $Light;
          }
          .linedot {
            background-color: $Warning;
          }
          .nday {
            color: $Light;
          }
        }
      }
      .tenth_active {
        background-color: $TextColor;
        .wday {
          color: $Light;
        }
        .linedot {
          background-color: $Warning;
        }
        .nday {
          color: $Light;
        }
      }
    }
  }
  .extra_side {
    width: 25%;
    @include dfds;
    overflow-x: hidden;
  }
}
